body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: Source Sans Pro;
	/*margin-left: 20%;
	margin-right: 20%;
	margin-top: 3%;*/
}

h2 {
	color: #2c3e50;
	font-weight: 700;
	font-size: 2.0rem

}

.date {
	color: #3498db;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.2rem;
}


.firstp {
	border-left: solid #bdc3c7 5px;
	padding-left: 5px;
}

.post {
	margin-bottom: 20px;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}